@import 'configs/vars.css';
@import 'configs/media-queries.css';
@import 'configs/custom-selectors.css';


:--heading { margin-top: 0 }

body {
  background-color: var(--mainColor);
  transform: scale(2);
  filter: blur(2px);

  @media (--small-viewport) {
    background: blue;
  }
}

p:not(:first-child, .special) {
  color: red;
}
